<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block th:replace="fragments/navbar"></th:block>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row text-center">
                <h2>Users</h2>
            </div>
            <hr class="hr-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Active</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(users)}">
                    <td colspan="5" class="text-center"><span th:text="${'No users available.'}"></span></td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${userStat.index + 1}"></span></td>
                    <td>
                        <span th:if="${#strings.equals(user.email, #authentication.getPrincipal().getUsername())}" th:text="${user.email + ' (me)'}"></span>
                        <span th:if="${!#strings.equals(user.email, #authentication.getPrincipal().getUsername())}" th:text="${user.email}"></span>
                    </td>
                    <td><span th:text="${user.active}"></span></td>
                    <td>
                        <span class="mr-1">
                            <a th:href="@{'/users/edit/' + ${user.id}}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </span>
                        <span class="mr-1">
                            <a th:href="@{'/users/' + ${user.email}}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </span>
                        <span>
                            <a th:href="@{'/users/delete/' + ${user.id}}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <footer class="footer mt-5 p-3 fixed-bottom">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; Simple Blogging 2020. Sofia University.</div>
        </div>
    </footer>
</div>
</body>
</html>